.chatBG {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.appBG {
    background-color: hsl(270, 20%, 96%) !important;
}

.avatarBorder {
    border: 2px solid white;
}

/* .bgText {
    width: 100%;
    height: 100%;
/* } */